@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);

.page {
    margin: 0 auto;
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    position: relative;
    max-width: 1600px;
    min-width: 320px;
    background-color: #FCFCFD;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

.header {
    background: url(./img/Bg-header.png) no-repeat;
    background-size: 100% 77.5%;
}

.nav {
    margin: 0 auto 0 12%;
    padding-top: 50px;
    height: 36px;
    max-width: 70%;
    display: flex;
}

.nav__logo {
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    color: #FFFFFF;
    margin-right: 10%;
    width: 53px;
    height: 32px;
}

.nav__menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 63px;
    white-space: nowrap;
}

.nav__link {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
}

.nav__link::after {
    content: " ";
    width: 100%;
    height: 4px;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
    background-color: #FCC304;
    border-radius: 34px;
    background-repeat: no-repeat;
    position: absolute;
    top: 25px;
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

.nav__link:hover::after {
    opacity: 1;
}

.nav__last-link {
    margin-left: 15%;
    align-self: center;
    white-space: nowrap;
}

.header__title {
    margin-top: 6%;
    margin-left: 21%;
    padding: 0;
    max-width: 80%;
    font-weight: 900;
    font-size: 64px;
    line-height: 150%;
    color: #FFFFFF;
}

.header__subtitle {
    max-width: 47%;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #FFFFFF;
    margin: 3% auto 0 21%;
}

.header__button {
    border: 0;
    width: 226px;
    height: 56px;
    border-radius: 64px;
    background-color: #FFFFFF;
    margin: 3% auto 3% 21%;
    cursor: pointer;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 1px;
    color: #253757;
}

.header__button:hover {
    background-color: #FCC304;
    transition: 0.3 linear;
}

@media screen and (max-width: 1370px) {
    .header {
        background-size: 100% 80%;
    }
}

@media screen and (max-width: 1180px) {
    .header {
        background-size: 100% 85%;
    }

    .header__title {
        margin-left: 15%;

    }

    .header__subtitle {
        margin-left: 15%;

    }

    .header__button {
        margin-left: 15%;
    }
}

/*Gallery*/

.gallery {
    margin: 0 auto;
    top: -20%;
    width: 90%;
    height: 100%;
    position: relative;
}

.social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 416px;
    height: 19px;
    transform: rotate(90deg);
    position: absolute;
    z-index: 1;
    left: 80%;
    top: 45%;
}

.social__logo {
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #253757;
    font-weight: 800;
    font-size: 12.6px;
    line-height: 150%;
    z-index: 1;
}

.gallery__photo {
    margin: 0 auto 0 8%;
    background: linear-gradient(0deg, rgba(37, 55, 87, 0.1), rgba(37, 55, 87, 0.1)), url(rawpixel-com-384904.jpg);
    width: 80%;
    height: auto;

    object-fit: cover;
    object-position: top;
}

.gallery__title {
    position: absolute;
    width: 10%;
    font-weight: 800;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    align-items: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #56CCF2;
    bottom: 20%;
    margin-left: 15%;
}

.gallery__text {
    position: absolute;
    width: 23%;
    font-weight: 900;
    font-size: 19.6px;
    line-height: 140%;
    color: #FFFFFF;
    bottom: 10%;
    margin-left: 15%;
}

.gallery__button {
    position: absolute;
    width: 163px;
    height: 64px;
    z-index: 2;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #FCC304;
    border-radius: 50px;
    border: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    cursor: pointer;
    top: 40%;
    left: 2%;

}

.gallery__button-arrow {
    z-index: 3;
    width: 16px;
    height: 16px;
    border: 2px solid #FFFFFF;
    border-width: 0 3px 3px 0;
    display: inline-block;
}

.prev {
    transform: rotate(135deg);
}

.next {
    transform: rotate(315deg);
}

@media screen and (max-width: 1370px) {
    .gallery__title {
        bottom: 25%
    }
}

/* Welcome */

.welcome {
    background-color: #FCFCFD;
    max-width: 55%;
    margin: 11% auto 0;
    padding-bottom: 12%;
}

.section__title-logo {
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
}

.section__logo {
    width: 21px;
    height: 21px;
    margin-right: 2%;
}

.section__title {
    text-transform: uppercase;
    color: #56CCF2;
    font-weight: 800;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
}

.welcome__text {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.5;
    color: #253757;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1180px) {
    .welcome {
        max-width: 70%;
    }
}

/* Services */

.services {
    margin: 0 auto;
    background-color: #FFFFFF;
    position: relative;
}

.services__title {
    font-weight: 900;
    font-size: 48px;
    line-height: 100%;
    color: #253757;
    margin: 0 auto;
    position: absolute;
    top: -24px;
    left: 50%;
    transform: translateX(-50%);
}

.cards {
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10%;
}

.cards__item {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 264px;
    min-height: 382px;
    display: flex;
    flex-direction: column;
}

.cards__image {
    width: 160px;
    height: 160px;
    border-radius: 100%;
    filter: drop-shadow(32px 32px 64px rgba(86, 204, 242, 0.05));
    object-fit: cover;
    margin: 61% 0 22% 0;
}

.cards__title {
    font-weight: 900;
    font-size: 19.6px;
    line-height: 1.4;
    color: #253757;
    margin: 0 auto;
}

.cards__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #334563;
    mix-blend-mode: normal;
    margin-bottom: 61%;
}

@media screen and (max-width: 1180px) {
    .cards {
        padding-bottom: 15%;
    }

    .cards__description {
        margin-bottom: 2%;
    }

    .cards__image {
        margin-top: 100px;
    }
}

/* Steps */

.steps {
    min-height: 1200px;
    background-color: #FFFFFF;
    position: relative;
    display: flex;
}

.steps__container {
    margin: 0 auto;
    width: 100%;
    background-color: #FCFCFD;
}

.steps__discription {
    margin: 11% 187px 291px 163px;
    position: relative;
}

.section__subtitle {
    font-weight: 900;
    font-size: 32px;
    line-height: 1.4;
    color: #253757;
    width: 362px;
    margin: 19px 0 0 0;
}

.steps__main-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #334563;
    width: 362px;
    margin: 0;
    padding-bottom: 30px;
}

.steps__main-text:first-of-type {
    margin-top: 64px;
}

.steps__cards {
    list-style-type: none;
    position: absolute;
    top: 224px;
    right: 222px;
    width: 570px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 0 58px;
}

.steps__card {
    align-items: center;
    width: 240px;
    height: 256px;
    background-color: #FFFFFF;
    box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.02);
    margin-top: 65px;
    position: relative;
}

.steps__number {
    font-weight: 900;
    font-size: 40px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-top: 70px;
    margin-bottom: 10px;
}

.steps__number_blue {
    color: #56CCF2;
}

.steps__number_yellow {
    color: #FCC304;
}

.steps__number_green {
    color: #03D542;
}

.steps__number_red {
    color: #F25656;
}

.steps__restange {
    position: relative;
    z-index: 1;
    height: 389px;
    width: 240px;
    margin-top: 40px;
}

.steps__restange::after {
    content: ' ';
    position: absolute;
    width: 421.91px;
    height: 16px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #56CCF2;
    border-radius: 500px;
    transform: rotate(-65deg);
    z-index: -1;
    top: 185px;
    right: -90px;
}

.steps__restange::before {
    content: ' ';
    position: absolute;
    width: 48px;
    height: 48px;
    left: 872px;
    top: 384px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, #56CCF2, #56CCF2), #C4C4C4;
    opacity: 0.1;
    top: 118px;
    left: 94px;
    z-index: 2;
    border-radius: 100%;
}

.steps__restange:nth-child(2)::before {
    background: #FCC304;
}

.steps__restange:nth-child(3)::before {
    background: #03D542;
}

.steps__restange:nth-child(4)::before {
    background: #F25656;
}

.steps__restange:nth-child(2)::after {
    background-color: #FCC304;
}

.steps__restange:nth-child(3)::after {
    background-color: #03D542;
}

.steps__restange:nth-child(4)::after {
    background-color: #F25656;
}

.steps__restange:nth-child(2) {
    margin-top: -70px;
}

.steps__restange:nth-child(3) {
    margin: 0 auto;
    z-index: 1;
}

.steps__restange:nth-child(4) {
    margin-top: -115px;
    z-index: 1;
}

.steps__text {
    font-weight: 400;
    font-size: 12.6px;
    line-height: 1.5;
    text-align: center;
    color: #253757;
    margin: 0 auto;
    padding: 0 32px;
}

@media screen and (max-width: 1370px) {
    .steps__cards {
        right: 80px;
    }

    .steps__discription {
        margin-right: 10px;
        margin-left: 100px;
    }
}

@media screen and (max-width: 1180px) {
    .steps {
        min-height: 1800px;
    }

    .steps__cards {
        top: 540px;
        right: 20vw;
    }

    .steps__discription {
        margin: 0 auto;
        width: 55%;
        padding-top: 11%;
    }

    .steps__main-text {
        margin: 0 auto;
        width: 100%;

    }
}


/* Features */

.features {
    display: block;
    background-color: #56CCF2;
    background-image: url(./img/features-photo.png);
    background-position-x: 110%;
    background-repeat: no-repeat;
    margin-top: -390px;
    position: absolute;
    width: 100%;
    padding-top: 200px;
    padding-bottom: 1px;
}

.features::after {
    display: inline-block;
    content: url(./img/Blob.svg);
    position: absolute;
    right: 0;
    top: 180px;
}

.features__container {
    max-width: 100%;
    margin: 0 0 150px 227px;
}

.section__title_features {
    color: #FFFFFF;
}

.features__items {
    list-style-type: none;
    margin: 64px 0 0 0;
    padding: 0;
    width: 362px;
}

.features__item {
    display: flex;
    align-items: center;
    margin-bottom: 64px;
}

.section__title-logo_features {
    margin-left: 10px;
}

.features__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;
    margin: 0 0 0 30px;
    mix-blend-mode: normal;
}

@media screen and (max-width: 1370px) {
    .features {
        background-position-x: 130%;
    }

    .features__container {
        margin-left: 100px;
    }
}

@media screen and (max-width: 1180px) {
    .features {
        background-position-x: 180%;
    }
}

@media screen and (max-width: 1110px) {
    .features {
        background-position: right;
    }
    .features::after {
        display: none;
    }
}




/* Testimonials */

.testimonials {
    padding: 166px 0 0 227px;
    margin-top: 580px;
    background-color: #FFFFFF;
}

.testimonials__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    margin: 64px auto 0;
    padding: 50px 160px 0 24px;
}

.testimonials__item {
    width: 314px;
    height: 464px;
    box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.05);
    position: relative;
    background-color: #FEFEFE;
    z-index: 2;
    padding-bottom: 28px;
}

.item__photo {
    left: 95px;
    position: absolute;
    top: 120px;
}

.testimonials__item::before {
    content: ' ';
    display: block;
    width: 161.9px;
    height: 64px;
    align-content: center;
    position: absolute;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #56CCF2;
    border-radius: 500px;
    transform: rotate(-65deg);
    top: 110px;
    right: 90px;
}

.item__name {
    font-weight: 700;
    font-size: 12.6px;
    line-height: 1.5;
    text-align: center;
    color: #152032;
    margin: 0 auto;
    bottom: 0;
}

.item__quote {
    font-style: italic;
    font-weight: 400;
    font-size: 14.4px;
    line-height: 1.5;
    text-align: center;
    color: #253757;
    mix-blend-mode: normal;
    margin: 275px 32px 70px 32px;
}

.testimonials__item::after {
    content: ' ';
    position: absolute;
    top: 375px;
    left: 125px;
    width: 64px;
    height: 2px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #56CCF2;
    border-radius: 500px;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.item__profession {
    font-weight: 800;
    font-size: 12.6px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0 auto;
    padding: 0;
}

.item__profession_blue {
    color: #56CCF2;
}

.item__profession_yellow {
    color: #FCC304;
}

.item__profession_red {
    color: #F25656;
}

.testimonials__item:nth-child(2)::before {
    background-color: #FCC304;
}

.testimonials__item:nth-child(3)::before {
    background-color: #F25656;
}

.testimonials__item:nth-child(2)::after {
    background-color: #FCC304;
}

.testimonials__item:nth-child(3)::after {
    background-color: #F25656;
}

@media screen and (max-width: 1370px) {
    .testimonials {
        padding-left: 100px;
    }

    .testimonials__items {
        padding-left: 0;
        padding-right: 100px;
        gap: 10px
    }

}

@media screen and (max-width: 1180px) {
    .testimonials {
        padding-left: 50px;
        padding-right: 50px;
    }

    .testimonials__items {
        padding-right: 0;
    }

}

/* CTA */

.cta {
    max-width: 1600px;
    background-image: url(./img/CTA-bg.png);
    background-position: bottom;
    background-repeat: no-repeat;
    text-align: center;
    background-color: #FCFCFD;
    margin-top: -160px;
    padding: 320px 0 160px 0;
}

.cta__title {
    font-weight: 900;
    font-size: 48px;
    line-height: 100%;
    text-align: center;
    color: #253757;
}

.cta__text {
    max-width: 754px;
    height: 72px;
    margin: 57px auto 55px;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.5;
    text-align: center;
    color: #334563;
}

.button {
    border: none;
    background: #2F80ED;
    border-radius: 64px;
    width: 226px;
    height: 56px;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 1px;
    color: #FFFFFF;
    cursor: pointer;
}

.button_blue:hover {
    color: #2F80ED;
    background-color: white;
    border: 2px solid #2F80ED;
}

@media screen and (max-width: 1370px) {
    .testimonials {
        padding-left: 100px;
    }
}

/* Contacts */

.contacts {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 136px;
    gap: 9%;
}

.contacts__message {
    max-width: 656px;
    min-height: 508px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contacts__input {
    border: none;
    background-color: #FCFCFD;
    border-bottom: 1px solid #e1e1e1;
    height: 40px;
    width: 656px;
}

.contacts__input:focus {
    outline: none;
    border: 3px solid #56CCF2;
}

.contacts__input:focus::placeholder {
    opacity: 0.1;
}

.contacts__input::placeholder {
    font-weight: 700;
    font-size: 14.4px;
    line-height: 1.5;
    color: #152032;
    height: 22px;
}

.contacts__title {
    font-weight: 800;
    font-size: 12.6px;
    line-height: 1.5;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #334563;
    margin: 0;
    padding: 41px 0 0 0;
}

.contacts__article {
    text-decoration: none;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #56CCF2;
    padding: 0;
    margin-top: 5px;
}

.contacts__social-icons {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 195px;
    margin: 54px 0 0 0;
    padding: 0;
}


@media screen and (max-width: 1370px) {
    .contacts {
        width: 85%;
    }

    .contacts__input {

        width: 456px;
    }
}

/* Footer */

.footer {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 83px;
}

.footer__copyright {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #253757;
}

.footer__menu-link {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #253757;
}

.footer__menu-link:hover {
    border-bottom: 3px solid #56CCF2;
    padding-bottom: 5px;
    transition: .3s ease-in-out;
}